<!DOCTYPE html>
<html>
<head>
  <title>BookingMovieTickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-default">	
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Movie Tickets", root_path, class: "navbar-brand" %>
			</div>	
			<ul class="nav navbar-nav">
				<li><%= link_to "Sign Up", new_customer_registration_path %></li>
				<% if customer_signed_in? %>
					<li><%= link_to "Sign Out", destroy_customer_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log In", new_customer_session_path %></li>
				<% end %>	
			</ul>	
			<% if customer_signed_in? %>
				<% if current_customer.role == "admin" %>
					<p><%= link_to "Update Movie", admin_movies_controller_index_path, class: "navbar-text navbar-link navbar-right " %></p>
				<% end %>	
			<% end %>
	</div>	
</div>

<p class="notice text-center"><%= notice %></p>
<p class="alert text-center"><%= alert %></p>

<%= yield %>

</body>
</html>
